In [1]:
import pandas as pd 
import numpy as np

# Checkpoint 1: Data Cleaning 1

- Load the companies and rounds data into two data frames and name them companies and rounds2 respectively.

In [2]:
# Read companies.txt and create a data frame companies. 
# use mbcs to encode the txt data file
companies = pd.read_csv('./companies.txt',sep="\t",encoding='iso-8859-1')

In [3]:
# decode the permalink
companies['permalink'] = companies[['permalink']].applymap(lambda x: x.encode('utf-8').decode('ascii', 'ignore'))

In [4]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/Eron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Asys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [5]:
# read from rounds2.csv

rounds2 = pd.read_csv("./rounds2.csv",encoding = "iso-8859-1")

# decode the permalink
rounds2['company_permalink'] = rounds2[['company_permalink']].applymap(lambda x: x.encode('utf-8').decode('ascii', 'ignore'))

In [6]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
# number of unique companies in companies data frame 

# convert permalink to specific upper / lower case for count

companies['permalink'] = companies.permalink.str.lower()

# number of unique companies 
cdf_companies_count = companies.permalink.nunique()
print ('Unique companies count in Companies dataframe :',cdf_companies_count)

Unique companies count in Companies dataframe : 66368

In [8]:
# number of unique companies in rounds2 data frame 

# convert permalink to specific upper / lower case for count

rounds2['company_permalink'] = rounds2.company_permalink.str.lower()

# number of unique companies
rdf_companies_count = rounds2.company_permalink.nunique()
print ('Unique companies count in rounds2 dataframe:',rdf_companies_count)

Unique companies count in rounds2 dataframe: 66368

In [9]:
#check the dataset toidentify the column for join 

# based on the unqiue count granularity "permalink" will be the join column
# companies.apply(pd.Series.nunique)

In [10]:
# check companies in the rounds2 file which are not present in companies
# Count is '0' so all companies are matching
not_matching_companynames = set(rounds2.company_permalink).difference(companies.permalink)
print('Count of companies in rounds2 not matching with companies ',len(pd.DataFrame([not_matching_companynames]).columns))

Count of companies in rounds2 not matching with companies  0

In [11]:
# find matching companies count should match with rounds2 total rows

matching_company_names=rounds2.company_permalink.isin(companies.permalink)
matching_company_names.count()

114949

In [12]:
# rename column name in rounds2 dataframe to sync it with companies dataframe to do merge

rounds2.rename(columns={'company_permalink': 'permalink'}, inplace=True)

In [13]:
rounds2.head(10)

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/organization/0ndine-biomedical-inc,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/organization/0xdata,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0

In [14]:
# create master_frame dataframe by joining companies and rounds2 datafrmanes.

master_frame = pd.merge(companies,rounds2, on='permalink')
master_frame.head(10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0

In [15]:
# Table1.1 observations are present in master_frame

master_frame['permalink'].count()

114949

In [16]:
# check the maste_data columns null percentage
round((master_frame.isnull().sum()/master_frame.shape[0])*100,2)

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [17]:
# for raised_amount_usd replace nulls with 0

master_frame.raised_amount_usd.fillna(0, inplace=True)

# check the master_frame columns null percentage; for raised_amount_usd - should 0% now

round((master_frame.isnull().sum()/master_frame.shape[0])*100,2)

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd           0.00
dtype: float64

In [18]:
# In master_frame data frame columns fix permalink encode issues
#master_frame['permalink'] = master_frame.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')

In [19]:
# check the data of the permalink encoding issues.
master_frame.tail(10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114939,/organization/zzish,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,NaN,31-10-2014,400000.0
114940,/organization/zzish,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014,/funding-round/73721fffc980d228f051e87422aa8732,seed,NaN,24-03-2014,320000.0
114941,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1587301.0
114942,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,NaN,01-11-2011,7000.0
114943,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,33149.0
114944,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,0.0
114947,/organization/asys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

## Checkpoint 2: Funding Type Analysis

In [20]:
# check data in funding round type
# format to dispalay float columns 
pd.options.display.float_format = '{:.5f}'.format

master_frame.groupby(['funding_round_type']).mean()

                       raised_amount_usd
funding_round_type
angel                       764564.34575
convertible_note           1157471.42102
debt_financing            16517018.25758
equity_crowdfunding         202983.16334
grant                      4152010.97500
non_equity_assistance       157161.37696
post_ipo_debt            168704571.82237
post_ipo_equity           80894367.00784
private_equity            62111788.22976
product_crowdfunding       1283338.03171
secondary_market          25152514.76842
seed                        556606.74161
undisclosed                6216342.59690
venture                   10634054.43608

In [21]:
# check the count of records in master_frame data frame

len(master_frame.index)

114949

In [22]:
# check the count of records in master_frame for funding_round_type is not null

master_frame.funding_round_type.notnull().count()

# finding the all the records in master_frame dataframe has a value funding_round_type

114949

In [23]:
# convert  all the funding_round_type column to lower case for cosistency.

master_frame['funding_round_type'] = master_frame.funding_round_type.str.lower()

# check the unique funding_round_type column values 
master_frame['funding_round_type'].unique()

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

In [24]:
# check the average funding type "venture"

venture_avg = master_frame.loc[master_frame['funding_round_type']=='venture'].groupby(['funding_round_type']).mean()

venture_avg

                    raised_amount_usd
funding_round_type
venture                10634054.43608

In [25]:
# check the average funding type "angel"

angel_avg = master_frame.loc[master_frame['funding_round_type']=='angel'].groupby(['funding_round_type']).mean()

angel_avg

                    raised_amount_usd
funding_round_type
angel                    764564.34575

In [26]:
# check the average funding type "seed"

seed_avg = master_frame.loc[master_frame['funding_round_type']=='seed'].groupby(['funding_round_type']).mean()

seed_avg

                    raised_amount_usd
funding_round_type
seed                     556606.74161

In [27]:
# check the average funding type "private equity"

pe_avg = master_frame.loc[master_frame['funding_round_type']=='private_equity'].groupby(['funding_round_type']).mean()

pe_avg

                    raised_amount_usd
funding_round_type
private_equity         62111788.22976

In [28]:
# checking concat all the individual avg data frames for holistic view - we can also use pivot option here

all_funding_avg = pd.concat([venture_avg, angel_avg,seed_avg, pe_avg], axis=0)

all_funding_avg

                    raised_amount_usd
funding_round_type
venture                10634054.43608
angel                    764564.34575
seed                     556606.74161
private_equity         62111788.22976

In [29]:
# find the fund types where spark investment can fund which is between 5 million and 15 million

all_funding_avg.loc[(all_funding_avg['raised_amount_usd']/1000000>=5) & (all_funding_avg['raised_amount_usd']/1000000<=15)]

                    raised_amount_usd
funding_round_type
venture                10634054.43608

Based on the analysis the suitable investment type  for spark investment is "venture"

# Checkpoint 3: Country Analysis

In [30]:
# check the unique country codes 

master_frame['country_code'].unique()

array(['IND', 'USA', nan, 'CHN', 'HKG', 'CAN', 'CHL', 'GBR', 'FRA', 'AUS',
       'DNK', 'ROM', 'AUT', 'KOR', 'NLD', 'SWE', 'JPN', 'RUS', 'SGP',
       'NOR', 'COL', 'ESP', 'BEL', 'IRL', 'ITA', 'ISR', 'NZL', 'CZE',
       'DEU', 'CHE', 'BRA', 'BGR', 'SVN', 'JOR', 'HUN', 'BWA', 'NGA',
       'FIN', 'TUR', 'IDN', 'ARE', 'CYP', 'POL', 'CRI', 'PRT', 'ARG',
       'TWN', 'KHM', 'THA', 'SVK', 'UKR', 'LTU', 'ISL', 'ZAF', 'MEX',
       'VEN', 'URY', 'MUS', 'KEN', 'PHL', 'MNE', 'VNM', 'GHA', 'PSE',
       'MYS', 'PER', 'EGY', 'PAN', 'LVA', 'GGY', 'ALB', 'UGA', 'HRV',
       'EST', 'LBN', 'GRC', 'PAK', 'NPL', 'LUX', 'SAU', 'IRN', 'GTM',
       'BAH', 'ARM', 'BGD', 'MDA', 'SRB', 'TUN', 'ZWE', 'BRB', 'NIC',
       'TAN', 'PRI', 'TTO', 'BHR', 'CMR', 'BLR', 'CYM', 'BRN', 'ECU',
       'SLV', 'MLT', 'ZMB', 'MKD', 'GIB', 'TGO', 'LAO', 'BMU', 'HND',
       'MCO', 'MMR', 'KAZ', 'QAT', 'DOM', 'MAR', 'LIE', 'GEO', 'MOZ',
       'DZA', 'JAM', 'KNA', 'AZE', 'SEN', 'RWA', 'DMA', 'UZB', 'BLZ',
       'OMN', 'JEY', 'KWT', 'CIV', 'BLM', 'GRD', 'LKA', 'SOM', 'SYC',
       'PRY', 'MAF'], dtype=object)

1. Spark Funds wants to see the top nine countries which have received the highest total funding (across ALL sectors for the chosen investment type)

2. For the chosen investment type, make a data frame named top9 with the top nine countries (based on the total investment amount each country has received)

In [31]:
# update country code null with Missing

master_frame['country_code'].fillna('MISSING',inplace=True)

# check the country_code for MISSING
master_frame['country_code'].head(5)

0        IND
1        USA
2        USA
3    MISSING
4        CHN
Name: country_code, dtype: object

In [32]:
# the chosen investment for spark fund is venture. 
# create a dataframe to store the country_code and total fund raised for the investement "venture"
# Exclude the countries with no country code from the top9 by excluding MISSING country_code

tot_fund_country = master_frame.loc[(master_frame['funding_round_type']=='venture')  & (master_frame['country_code']!='MISSING')].groupby(['country_code']).sum()

# sort the tot_fun_country data frame descending and choose top9 countries with higher investments.
tot_fund_country = tot_fund_country.sort_values(by='raised_amount_usd', ascending=False)

# store the top 9 countries with highest total funding into top 9 dataframe

top9=tot_fund_country.head(9)

# check the top 9 countries by highest investment from top9 dataframe 
top9

              raised_amount_usd
country_code
USA          422510842796.00000
CHN           39835418773.00000
GBR           20245627416.00000
IND           14391858718.00000
CAN            9583332317.00000
FRA            7259536732.00000
ISR            6907514579.00000
DEU            6346959822.00000
JPN            3363676611.00000

In [33]:
# from the analysis the top english speaking country 

# from the provided pdf based on the above top9 dataframe create english_speaking_df 

english_speaking_df = pd.DataFrame({'country_code':['USA','CHN','GBR','IND','CAN','FRA','ISR','DEU','JPN'],
                                        'country_name':['United States','China','United Kingdom','India','Canada','France','Israel','Germany','Japan'],
                                   'english_speaking':['Y','N','Y','Y','Y','N','N','N','N']})
english_speaking_df

  country_code    country_name english_speaking
0          USA   United States                Y
1          CHN           China                N
2          GBR  United Kingdom                Y
3          IND           India                Y
4          CAN          Canada                Y
5          FRA          France                N
6          ISR          Israel                N
7          DEU         Germany                N
8          JPN           Japan                N

In [34]:
# Top3 english speaking countries based on investment amount 

top_offical_speaking_merge = pd.merge(top9,english_speaking_df,on='country_code')

top_offical_speaking_merge = top_offical_speaking_merge.loc[top_offical_speaking_merge['english_speaking']=='Y']
top3_english_speaking_ctry = top_offical_speaking_merge.head(3)

top3_english_speaking_ctry.index=range(3)
top3_english_speaking_ctry.index = top3_english_speaking_ctry.index+1

top3_english_speaking_ctry

  country_code  raised_amount_usd    country_name english_speaking
1          USA 422510842796.00000   United States                Y
2          GBR  20245627416.00000  United Kingdom                Y
3          IND  14391858718.00000           India                Y

In [35]:
print('Top 3 English-speaking country by order\n\n', top3_english_speaking_ctry.country_code)

Top 3 English-speaking country by order

 1    USA
2    GBR
3    IND
Name: country_code, dtype: object

# Checkpoint 4: Sector Analysis 1

In [36]:
# split the sector for category_list column

sector_split = master_frame['category_list'].str.split('|', n = 1, expand = True)
sector_split[0]

0                         Media
1         Application Platforms
2         Application Platforms
3                          Apps
4                   Curated Web
5                      Software
6                         Games
7                 Biotechnology
8                 Biotechnology
9                     Analytics
10                    Analytics
11                    Analytics
12                    Analytics
13                       Mobile
14                       Mobile
15                       Mobile
16                   E-Commerce
17                Entertainment
18                   Networking
19          Health and Wellness
20          Health and Wellness
21           Internet Marketing
22                         Apps
23                Entertainment
24                   E-Commerce
25                   E-Commerce
26                   E-Commerce
27                   E-Commerce
28                    Education
29                    Education
                  ...
114919                 Software
114920            Biotechnology
114921            Biotechnology
114922            Biotechnology
114923            Biotechnology
114924          Cloud Computing
114925          Cloud Computing
114926    Public Transportation
114927    Public Transportation
114928            Biotechnology
114929            Biotechnology
114930            Biotechnology
114931            Biotechnology
114932               E-Commerce
114933               E-Commerce
114934               E-Commerce
114935               E-Commerce
114936            Biotechnology
114937            Biotechnology
114938                Analytics
114939                Analytics
114940                Analytics
114941      Enterprise Software
114942              Advertising
114943              Advertising
114944              Advertising
114945              Advertising
114946                      NaN
114947     Consumer Electronics
114948           Consumer Goods
Name: 0, Length: 114949, dtype: object

In [37]:
# Add a new column to the master_frame data frame for primary_sector and store the primary sector

master_frame['primary_sector'] = sector_split[0]

#check master_frame data frame for the new column

master_frame['primary_sector']

0                         Media
1         Application Platforms
2         Application Platforms
3                          Apps
4                   Curated Web
5                      Software
6                         Games
7                 Biotechnology
8                 Biotechnology
9                     Analytics
10                    Analytics
11                    Analytics
12                    Analytics
13                       Mobile
14                       Mobile
15                       Mobile
16                   E-Commerce
17                Entertainment
18                   Networking
19          Health and Wellness
20          Health and Wellness
21           Internet Marketing
22                         Apps
23                Entertainment
24                   E-Commerce
25                   E-Commerce
26                   E-Commerce
27                   E-Commerce
28                    Education
29                    Education
                  ...
114919                 Software
114920            Biotechnology
114921            Biotechnology
114922            Biotechnology
114923            Biotechnology
114924          Cloud Computing
114925          Cloud Computing
114926    Public Transportation
114927    Public Transportation
114928            Biotechnology
114929            Biotechnology
114930            Biotechnology
114931            Biotechnology
114932               E-Commerce
114933               E-Commerce
114934               E-Commerce
114935               E-Commerce
114936            Biotechnology
114937            Biotechnology
114938                Analytics
114939                Analytics
114940                Analytics
114941      Enterprise Software
114942              Advertising
114943              Advertising
114944              Advertising
114945              Advertising
114946                      NaN
114947     Consumer Electronics
114948           Consumer Goods
Name: primary_sector, Length: 114949, dtype: object

In [38]:
# read the mapping csv file into mapping_df data frame
mapping_df = pd.read_csv('./mapping.csv',sep=",",encoding="iso-8859-1")

In [39]:
# check the mapping data frame 
mapping_df.head(10)

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0
6,Ad Targeting,0,0,0,0,0,0,0,0,1
7,Advanced Materials,0,0,0,0,0,1,0,0,0
8,Adventure Travel,1,0,0,0,0,0,0,0,0
9,Advertising,0,0,0,0,0,0,0,0,1

In [40]:
# check uniqure category_list 

mapping_df['category_list'].unique()

array([nan, '3D', '3D Printing', '3D Technology', 'Accounting',
       'Active Lifestyle', 'Ad Targeting', 'Advanced Materials',
       'Adventure Travel', 'Advertising', 'Advertising Exchanges',
       'Advertising Networks', 'Advertising Platforms', 'Advice',
       'Aerospace', 'Agriculture', 'Air Pollution Control', 'Algorithms',
       'All Markets', 'All Students', 'Alter0tive Medicine', 'Alumni',
       'A0lytics', 'Android', 'Angels', 'Animal Feed',
       'Anything Capital Intensive', 'App Discovery', 'App Marketing',
       'App Stores', 'Application Performance Monitoring',
       'Application Platforms', 'Apps', 'Aquaculture', 'Architecture',
       'Archiving', 'Art', 'Artificial Intelligence', 'Artists Globally',
       'Assisitive Technology', 'Assisted Living', 'Auctions', 'Audio',
       'Audiobooks', 'Augmented Reality', 'Auto', 'Automated Kiosk',
       'Automotive', 'B2B', 'B2B Express Delivery', 'Babies',
       'Baby Accessories', 'Baby Boomers', 'Baby Safety', 'Banking',
       'Batteries', 'Beauty', 'Bicycles', 'Big Data', 'Big Data A0lytics',
       'Billing', 'Bio-Pharm', 'Biofuels', 'Bioinformatics',
       'Biomass Power Generation', 'Biometrics', 'Biotechnology',
       'Bitcoin', 'Blogging Platforms', 'Boating Industry',
       'BPO Services', 'Brand Marketing', 'Brewing',
       'Bridging Online and Offline', 'Broadcasting', 'Brokers',
       'Browser Extensions', 'Building Owners', 'Building Products',
       'Business A0lytics', 'Business Development',
       'Business Information Systems', 'Business Intelligence',
       'Business Productivity', 'Business Services', 'Business Travelers',
       'Cable', 'CAD', 'Call Center Automation', 'Can0bis', 'Carbon',
       'Career Ma0gement', 'Career Planning', 'Cars', 'Casual Games',
       'Celebrity', 'Certification Test', 'Charities', 'Charity',
       'Charter Schools', 'Chat', 'Chemicals', 'Child Care',
       'Chi0 Internet', 'Civil Engineers', 'Classifieds', 'Clean Energy',
       'Clean Technology', 'Clean Technology IT', 'Clinical Trials',
       'Cloud-Based Music', 'Cloud Computing', 'Cloud Data Services',
       'Cloud Infrastructure', 'Cloud Ma0gement', 'Cloud Security',
       'Coffee', 'Collaboration', 'Collaborative Consumption',
       'Collectibles', 'College Campuses', 'College Recruiting',
       'Colleges', 'Comics', 'Commercial Real Estate', 'Commercial Solar',
       'Commodities', 'Communications Hardware',
       'Communications Infrastructure', 'Communities',
       'Comparison Shopping', 'Computer Vision', 'Computers',
       'Concentrated Solar Power', 'Concerts', 'Console Gaming',
       'Construction', 'Consulting', 'Consumer Behavior',
       'Consumer Electronics', 'Consumer Goods', 'Consumer Internet',
       'Consumer Lending', 'Consumers', 'Contact Centers',
       'Contact Ma0gement', 'Content', 'Content Creators',
       'Content Delivery', 'Content Discovery', 'Content Syndication',
       'Contests', 'Cooking', 'Corporate IT', 'Corporate Training',
       'Corporate Wellness', 'Cosmetic Surgery', 'Cosmetics', 'Coupons',
       'Coworking', 'Craft Beer', 'Creative', 'Creative Industries',
       'Credit', 'Credit Cards', 'CRM', 'Crowdfunding', 'Crowdsourcing',
       'Curated Web', 'Custom Retail', 'Customer Service',
       'Customer Support Tools', 'Cyber', 'Cyber Security',
       'Data Center Automation', 'Data Center Infrastructure',
       'Data Centers', 'Data Integration', 'Data Mining', 'Data Privacy',
       'Data Security', 'Data Visualization', 'Databases',
       'Debt Collecting', 'Defense', 'Delivery', 'Demographies', 'Dental',
       'Design', 'Designers', 'Developer APIs', 'Developer Tools',
       'Development Platforms', 'Diabetes', 'Diagnostics',
       'Dietary Supplements', 'Digital Entertainment', 'Digital Media',
       'Digital Rights Ma0gement', 'Digital Sig0ge', 'Direct Advertising',
       'Direct Marketing', 'Direct Sales', 'Discounts', 'Displays',
       'Disruptive Models', 'Distribution', 'Distributors', 'DIY',
       'Doctors', 'Document Ma0gement', 'DOD/Military', 'Domains',
       'Drones', 'E-Books', 'E-Commerce', 'E-Commerce Platforms',
       'Early-Stage Technology', 'EBooks', 'EDA Tools', 'Ediscovery',
       'EdTech', 'Education', 'Educatio0l Games', 'Edutainment',
       'Elder Care', 'Electric Vehicles', 'Electrical Distribution',
       'Electronic Health Records', 'Electronics', 'Email',
       'Email Marketing', 'Email Newsletters',
       'Embedded Hardware and Software', 'Emerging Markets',
       'Employer Benefits Programs', 'Employment', 'Energy',
       'Energy Efficiency', 'Energy IT', 'Energy Ma0gement',
       'Energy Storage', 'Engineering Firms', 'Enterprise 2.0',
       'Enterprise Application', 'Enterprise Purchasing',
       'Enterprise Resource Planning', 'Enterprise Search',
       'Enterprise Security', 'Enterprise Software', 'Enterprises',
       'Entertainment', 'Entertainment Industry', 'Entrepreneur',
       'Environmental Innovation', 'Estimation and Quoting',
       'Event Ma0gement', 'Events', 'Exercise', 'Eyewear',
       'Face Recognition', 'Facebook Applications', 'Families',
       'Fantasy Sports', 'Farmers Market', 'Farming', 'Fashion',
       'Fertility', 'Field Support Services', 'File Sharing', 'Film',
       'Film Distribution', 'Film Production', 'Fi0nce',
       'Fi0nce Technology', 'Fi0ncial Exchanges', 'Fi0ncial Services',
       'FinTech', 'Fitness', 'Flash Sales', 'Flash Storage',
       'Fleet Ma0gement', 'Flowers', 'Fmcg', 'Food Processing', 'Forums',
       'Fraud Detection', 'Freelancers', 'Freemium', 'FreetoPlay Gaming',
       'Fruit', 'Fuel Cells', 'Fuels', 'Funeral Industry', 'Furniture',
       'Gadget', 'Gambling', 'Game', 'Game Mechanics', 'Games',
       'Gamification', 'Gas', 'Gay & Lesbian', 'General Public Worldwide',
       'Genetic Testing', 'Geospatial', 'Gift Card', 'Gift Exchange',
       'Gift Registries', 'Gold', 'Gover0nce', 'Government Innovation',
       'Governments', 'Gps', 'Graphics', 'Green', 'Green Consumer Goods',
       'Groceries', 'Group Buying', 'Group SMS', 'Guides', 'Handmade',
       'Hardware', 'Hardware + Software', 'Health and Insurance',
       'Health and Wellness', 'Health Care',
       'Health Care Information Technology', 'Health Diagnostics',
       'Health Services Industry', 'Healthcare Services',
       'Heavy Industry', 'Hedge Funds', 'High School Students',
       'High Schools', 'High Tech', 'Home & Garden', 'Home Automation',
       'Home Decor', 'Home Owners', 'Home Renovation',
       'Homeland Security', 'Homeless Shelter', 'Hospitality',
       'Hospitals', 'Hotels', 'Human Computer Interaction',
       'Human Resource Automation', 'Human Resources', 'Humanitarian',
       'IaaS', 'ICT', 'Identity', 'Identity Ma0gement',
       'Image Recognition', 'Impact Investing', 'In-Flight Entertainment',
       'Incentives', 'Incubators', 'Independent Music Labels',
       'Independent Pharmacies', 'Indians', 'Indoor Positioning',
       'Industrial', 'Industrial Automation', 'Information Security',
       'Information Services', 'Information Technology', 'Infrastructure',
       'Innovation Engineering', 'Innovation Ma0gement', 'Insurance',
       'Intellectual Asset Ma0gement', 'Intellectual Property',
       'Intelligent Systems', 'Interest Graph', 'Interface Design',
       'Interior Design', 'Internet', 'Internet Infrastructure',
       'Internet Marketing', 'Internet of Things',
       'Internet Radio Market', 'Internet Service Providers',
       'Investment Ma0gement', 'iOS', 'iPad', 'iPhone',
       'IT and Cybersecurity', 'IT Ma0gement', 'Jewelry', 'Jour0lism',
       'K-12 Education', 'Kids', 'Knowledge Ma0gement', 'Landscaping',
       'Language Learning', 'Lasers', 'Law Enforcement',
       'Lead Generation', 'Lead Ma0gement', 'Legal', 'Leisure',
       'Licensing', 'Life Sciences', 'Lifestyle', 'Lifestyle Businesses',
       'Lifestyle Products', 'Lighting', 'Limousines', 'Linux', 'Local',
       'Local Advertising', 'Local Based Services', 'Local Businesses',
       'Local Commerce', 'Local Search', 'Location Based Services',
       'Logistics', 'Logistics Company', 'Lotteries', 'Low Bid Auctions',
       'Loyalty Programs', 'M2M', 'Machine Learning', 'Manufacturing',
       'Maps', 'Market Research', 'Marketing Automation', 'Marketplaces',
       'Mass Customization', 'Match-Making', 'Material Science',
       'Mechanical Solutions', 'Media', 'Medical', 'Medical Devices',
       'Medical Professio0ls', 'Meeting Software', 'Mens Specific',
       'Messaging', 'mHealth', 'Micro-Enterprises', 'MicroBlogging',
       'Minerals', 'Mining Technologies', 'Mobile', 'Mobile Advertising',
       'Mobile A0lytics', 'Mobile Commerce', 'Mobile Devices',
       'Mobile Enterprise', 'Mobile Games', 'Mobile Health',
       'Mobile Infrastructure', 'Mobile Payments', 'Mobile Security',
       'Mobile Shopping', 'Mobile Social', 'Mobile Software Tools',
       'Mobile Video', 'Mobility', 'Monetization', 'Moneymaking',
       'Multi-level Marketing', 'Music', 'Music Education',
       'Music Services', 'Music Venues', 'Musical Instruments',
       'Musicians', '0notechnology', '0tural Language Processing',
       '0tural Resources', '0vigation', 'Network Security', 'Networking',
       'Neuroscience', 'New Product Development', 'New Technologies',
       'News', 'Non-Tech', 'Non Profit', 'Nonprofits', 'Nutrition',
       'Office Space', 'Oil', 'Oil & Gas', 'Oil and Gas', 'Online Dating',
       'Online Education', 'Online Gaming', 'Online Identity',
       'Online Rental', 'Online Reservations', 'Online Scheduling',
       'Online Shopping', 'Online Travel', 'Online Video Advertising',
       'Open Source', 'Opinions', 'Optical Communications',
       'Optimization', 'Organic', 'Organic Food', 'Outdoors',
       'Outsourcing', 'P2P Money Transfer', 'PaaS', 'Parenting',
       'Parking', 'Payments', 'Peer-to-Peer', 'Performance Marketing',
       'Perso0l Branding', 'Perso0l Data', 'Perso0l Fi0nce',
       'Perso0l Health', 'Perso0lization', 'Pervasive Computing', 'Pets',
       'Pharmaceuticals', 'Photo Editing', 'Photo Sharing', 'Photography',
       'Physical Security', 'Physicians', 'Plumbers', 'Point of Sale',
       'Politics', 'Polling', 'Portals', 'Postal and Courier Services',
       'Pre Seed', 'Predictive A0lytics', 'Presentations',
       'Price Comparison', 'Printing', 'Privacy', 'Private School',
       'Private Social Networking', 'Procurement', 'Product Design',
       'Product Development Services', 'Productivity',
       'Productivity Software', 'Professio0l Networking',
       'Professio0l Services', 'Project Ma0gement', 'Promotio0l',
       'Property Ma0gement', 'Public Relations', 'Public Safety',
       'Public Transportation', 'Publishing', 'Q&A', 'QR Codes',
       'Real Estate', 'Real Time', 'Realtors', 'Recreation', 'Recruiting',
       'Recycling', 'Religion', 'Renewable Energies', 'Renewable Tech',
       'Rental Housing', 'Reputation', 'Resorts', 'Restaurants', 'Retail',
       'Retail Technology', 'Reviews and Recommendations', 'RFID',
       'Ride Sharing', 'Risk Ma0gement', 'Robotics', 'SaaS',
       'Sales and Marketing', 'Sales Automation', 'Search',
       'Search Marketing', 'Security',
       'Semiconductor Manufacturing Equipment', 'Semiconductors',
       'Senior Citizens', 'Senior Health', 'Sensors', 'SEO',
       'Service Industries', 'Service Providers', 'Services', 'SexTech',
       'Shared Services', 'Shipping', 'Shoes', 'Shopping', 'Simulation',
       'Skill Assessment', 'Small and Medium Businesses', 'Smart Grid',
       'SNS', 'Soccer', 'Social + Mobile + Local', 'Social Bookmarking',
       'Social Business', 'Social Buying', 'Social Commerce',
       'Social CRM', 'Social Fundraising', 'Social Games', 'Social Media',
       'Social Media Ma0gement', 'Social Media Marketing',
       'Social Media Platforms', 'Social Network Media', 'Social News',
       'Social Recruiting', 'Social Television', 'Social Travel',
       'Software', 'Solar', 'Space Travel', 'Specialty Chemicals',
       'Specialty Foods', 'Speech Recognition', 'Sporting Goods',
       'Sports', 'Staffing Firms', 'Startups', 'Stock Exchanges',
       'Storage', 'Subscription Service', 'Supply Chain Ma0gement',
       'Surveys', 'Synchronization', 'Systems', 'Task Ma0gement', 'Taxis',
       'Tea', 'Technology', 'Telecommunications', 'Television',
       'Textiles', 'Theatre', 'Therapeutics', 'Ticketing', 'Tourism',
       'Tracking', 'Trading', 'Training', 'Translation', 'Transportation',
       'Travel', 'Travel & Tourism', 'Universities',
       'University Students', 'Unmanned Air Systems', 'Usability',
       'User Experience Design', 'User Interface', 'Utilities',
       'Vending and Concessions', 'Venture Capital', 'Veteri0ry', 'Video',
       'Video Conferencing', 'Video Games', 'Video on Demand',
       'Video Streaming', 'Virtual Workforces', 'VoIP', 'Waste Ma0gement',
       'Watch', 'Water', 'Water Purification', 'Wearables',
       'Web Browsers', 'Web Design', 'Web Development', 'Web Hosting',
       'Web Tools', 'Weddings', 'Wholesale', 'Wine And Spirits',
       'Wireless', 'Women', 'Young Adults'], dtype=object)

In [41]:
# check the mapping data matches with the master frame datast)

# there are differences - because of '0' looks like it needs to be replaced with 'na'

set(mapping_df.category_list).difference(master_frame.primary_sector)

{'0notechnology',
 '0tural Language Processing',
 '0tural Resources',
 '0vigation',
 'A0lytics',
 'Alter0tive Medicine',
 'Big Data A0lytics',
 'Business A0lytics',
 'Can0bis',
 'Career Ma0gement',
 'Chi0 Internet',
 'Cloud Ma0gement',
 'Contact Ma0gement',
 'Digital Rights Ma0gement',
 'Digital Sig0ge',
 'Document Ma0gement',
 'Educatio0l Games',
 'Energy Ma0gement',
 'Event Ma0gement',
 'Fi0nce',
 'Fi0nce Technology',
 'Fi0ncial Exchanges',
 'Fi0ncial Services',
 'Fleet Ma0gement',
 'Gover0nce',
 'IT Ma0gement',
 'Identity Ma0gement',
 'Innovation Ma0gement',
 'Intellectual Asset Ma0gement',
 'Investment Ma0gement',
 'Jour0lism',
 'Knowledge Ma0gement',
 'Lead Ma0gement',
 'Medical Professio0ls',
 'Mobile A0lytics',
 'Perso0l Branding',
 'Perso0l Data',
 'Perso0l Fi0nce',
 'Perso0l Health',
 'Perso0lization',
 'Predictive A0lytics',
 'Professio0l Networking',
 'Professio0l Services',
 'Project Ma0gement',
 'Promotio0l',
 'Property Ma0gement',
 'Risk Ma0gement',
 'Social Media Ma0gement',
 'Supply Chain Ma0gement',
 'Task Ma0gement',
 'Veteri0ry',
 'Waste Ma0gement'}

In [42]:
# replace 0's with na

mapping_df['category_list'] = mapping_df['category_list'].str.replace('0','na')
mapping_df['category_list'] = mapping_df['category_list'].str.replace('enterprise 2.na','enterprise 2.0')


# convert the category_list to lowercase for consistency

mapping_df['category_list'] =  mapping_df['category_list'].str.lower()

# check the dataframe categorylist 

mapping_df['category_list'].unique()

array([nan, '3d', '3d printing', '3d technology', 'accounting',
       'active lifestyle', 'ad targeting', 'advanced materials',
       'adventure travel', 'advertising', 'advertising exchanges',
       'advertising networks', 'advertising platforms', 'advice',
       'aerospace', 'agriculture', 'air pollution control', 'algorithms',
       'all markets', 'all students', 'alternative medicine', 'alumni',
       'analytics', 'android', 'angels', 'animal feed',
       'anything capital intensive', 'app discovery', 'app marketing',
       'app stores', 'application performance monitoring',
       'application platforms', 'apps', 'aquaculture', 'architecture',
       'archiving', 'art', 'artificial intelligence', 'artists globally',
       'assisitive technology', 'assisted living', 'auctions', 'audio',
       'audiobooks', 'augmented reality', 'auto', 'automated kiosk',
       'automotive', 'b2b', 'b2b express delivery', 'babies',
       'baby accessories', 'baby boomers', 'baby safety', 'banking',
       'batteries', 'beauty', 'bicycles', 'big data',
       'big data analytics', 'billing', 'bio-pharm', 'biofuels',
       'bioinformatics', 'biomass power generation', 'biometrics',
       'biotechnology', 'bitcoin', 'blogging platforms',
       'boating industry', 'bpo services', 'brand marketing', 'brewing',
       'bridging online and offline', 'broadcasting', 'brokers',
       'browser extensions', 'building owners', 'building products',
       'business analytics', 'business development',
       'business information systems', 'business intelligence',
       'business productivity', 'business services', 'business travelers',
       'cable', 'cad', 'call center automation', 'cannabis', 'carbon',
       'career management', 'career planning', 'cars', 'casual games',
       'celebrity', 'certification test', 'charities', 'charity',
       'charter schools', 'chat', 'chemicals', 'child care',
       'china internet', 'civil engineers', 'classifieds', 'clean energy',
       'clean technology', 'clean technology it', 'clinical trials',
       'cloud-based music', 'cloud computing', 'cloud data services',
       'cloud infrastructure', 'cloud management', 'cloud security',
       'coffee', 'collaboration', 'collaborative consumption',
       'collectibles', 'college campuses', 'college recruiting',
       'colleges', 'comics', 'commercial real estate', 'commercial solar',
       'commodities', 'communications hardware',
       'communications infrastructure', 'communities',
       'comparison shopping', 'computer vision', 'computers',
       'concentrated solar power', 'concerts', 'console gaming',
       'construction', 'consulting', 'consumer behavior',
       'consumer electronics', 'consumer goods', 'consumer internet',
       'consumer lending', 'consumers', 'contact centers',
       'contact management', 'content', 'content creators',
       'content delivery', 'content discovery', 'content syndication',
       'contests', 'cooking', 'corporate it', 'corporate training',
       'corporate wellness', 'cosmetic surgery', 'cosmetics', 'coupons',
       'coworking', 'craft beer', 'creative', 'creative industries',
       'credit', 'credit cards', 'crm', 'crowdfunding', 'crowdsourcing',
       'curated web', 'custom retail', 'customer service',
       'customer support tools', 'cyber', 'cyber security',
       'data center automation', 'data center infrastructure',
       'data centers', 'data integration', 'data mining', 'data privacy',
       'data security', 'data visualization', 'databases',
       'debt collecting', 'defense', 'delivery', 'demographies', 'dental',
       'design', 'designers', 'developer apis', 'developer tools',
       'development platforms', 'diabetes', 'diagnostics',
       'dietary supplements', 'digital entertainment', 'digital media',
       'digital rights management', 'digital signage',
       'direct advertising', 'direct marketing', 'direct sales',
       'discounts', 'displays', 'disruptive models', 'distribution',
       'distributors', 'diy', 'doctors', 'document management',
       'dod/military', 'domains', 'drones', 'e-books', 'e-commerce',
       'e-commerce platforms', 'early-stage technology', 'ebooks',
       'eda tools', 'ediscovery', 'edtech', 'education',
       'educational games', 'edutainment', 'elder care',
       'electric vehicles', 'electrical distribution',
       'electronic health records', 'electronics', 'email',
       'email marketing', 'email newsletters',
       'embedded hardware and software', 'emerging markets',
       'employer benefits programs', 'employment', 'energy',
       'energy efficiency', 'energy it', 'energy management',
       'energy storage', 'engineering firms', 'enterprise 2.na',
       'enterprise application', 'enterprise purchasing',
       'enterprise resource planning', 'enterprise search',
       'enterprise security', 'enterprise software', 'enterprises',
       'entertainment', 'entertainment industry', 'entrepreneur',
       'environmental innovation', 'estimation and quoting',
       'event management', 'events', 'exercise', 'eyewear',
       'face recognition', 'facebook applications', 'families',
       'fantasy sports', 'farmers market', 'farming', 'fashion',
       'fertility', 'field support services', 'file sharing', 'film',
       'film distribution', 'film production', 'finance',
       'finance technology', 'financial exchanges', 'financial services',
       'fintech', 'fitness', 'flash sales', 'flash storage',
       'fleet management', 'flowers', 'fmcg', 'food processing', 'forums',
       'fraud detection', 'freelancers', 'freemium', 'freetoplay gaming',
       'fruit', 'fuel cells', 'fuels', 'funeral industry', 'furniture',
       'gadget', 'gambling', 'game', 'game mechanics', 'games',
       'gamification', 'gas', 'gay & lesbian', 'general public worldwide',
       'genetic testing', 'geospatial', 'gift card', 'gift exchange',
       'gift registries', 'gold', 'governance', 'government innovation',
       'governments', 'gps', 'graphics', 'green', 'green consumer goods',
       'groceries', 'group buying', 'group sms', 'guides', 'handmade',
       'hardware', 'hardware + software', 'health and insurance',
       'health and wellness', 'health care',
       'health care information technology', 'health diagnostics',
       'health services industry', 'healthcare services',
       'heavy industry', 'hedge funds', 'high school students',
       'high schools', 'high tech', 'home & garden', 'home automation',
       'home decor', 'home owners', 'home renovation',
       'homeland security', 'homeless shelter', 'hospitality',
       'hospitals', 'hotels', 'human computer interaction',
       'human resource automation', 'human resources', 'humanitarian',
       'iaas', 'ict', 'identity', 'identity management',
       'image recognition', 'impact investing', 'in-flight entertainment',
       'incentives', 'incubators', 'independent music labels',
       'independent pharmacies', 'indians', 'indoor positioning',
       'industrial', 'industrial automation', 'information security',
       'information services', 'information technology', 'infrastructure',
       'innovation engineering', 'innovation management', 'insurance',
       'intellectual asset management', 'intellectual property',
       'intelligent systems', 'interest graph', 'interface design',
       'interior design', 'internet', 'internet infrastructure',
       'internet marketing', 'internet of things',
       'internet radio market', 'internet service providers',
       'investment management', 'ios', 'ipad', 'iphone',
       'it and cybersecurity', 'it management', 'jewelry', 'journalism',
       'k-12 education', 'kids', 'knowledge management', 'landscaping',
       'language learning', 'lasers', 'law enforcement',
       'lead generation', 'lead management', 'legal', 'leisure',
       'licensing', 'life sciences', 'lifestyle', 'lifestyle businesses',
       'lifestyle products', 'lighting', 'limousines', 'linux', 'local',
       'local advertising', 'local based services', 'local businesses',
       'local commerce', 'local search', 'location based services',
       'logistics', 'logistics company', 'lotteries', 'low bid auctions',
       'loyalty programs', 'm2m', 'machine learning', 'manufacturing',
       'maps', 'market research', 'marketing automation', 'marketplaces',
       'mass customization', 'match-making', 'material science',
       'mechanical solutions', 'media', 'medical', 'medical devices',
       'medical professionals', 'meeting software', 'mens specific',
       'messaging', 'mhealth', 'micro-enterprises', 'microblogging',
       'minerals', 'mining technologies', 'mobile', 'mobile advertising',
       'mobile analytics', 'mobile commerce', 'mobile devices',
       'mobile enterprise', 'mobile games', 'mobile health',
       'mobile infrastructure', 'mobile payments', 'mobile security',
       'mobile shopping', 'mobile social', 'mobile software tools',
       'mobile video', 'mobility', 'monetization', 'moneymaking',
       'multi-level marketing', 'music', 'music education',
       'music services', 'music venues', 'musical instruments',
       'musicians', 'nanotechnology', 'natural language processing',
       'natural resources', 'navigation', 'network security',
       'networking', 'neuroscience', 'new product development',
       'new technologies', 'news', 'non-tech', 'non profit', 'nonprofits',
       'nutrition', 'office space', 'oil', 'oil & gas', 'oil and gas',
       'online dating', 'online education', 'online gaming',
       'online identity', 'online rental', 'online reservations',
       'online scheduling', 'online shopping', 'online travel',
       'online video advertising', 'open source', 'opinions',
       'optical communications', 'optimization', 'organic',
       'organic food', 'outdoors', 'outsourcing', 'p2p money transfer',
       'paas', 'parenting', 'parking', 'payments', 'peer-to-peer',
       'performance marketing', 'personal branding', 'personal data',
       'personal finance', 'personal health', 'personalization',
       'pervasive computing', 'pets', 'pharmaceuticals', 'photo editing',
       'photo sharing', 'photography', 'physical security', 'physicians',
       'plumbers', 'point of sale', 'politics', 'polling', 'portals',
       'postal and courier services', 'pre seed', 'predictive analytics',
       'presentations', 'price comparison', 'printing', 'privacy',
       'private school', 'private social networking', 'procurement',
       'product design', 'product development services', 'productivity',
       'productivity software', 'professional networking',
       'professional services', 'project management', 'promotional',
       'property management', 'public relations', 'public safety',
       'public transportation', 'publishing', 'q&a', 'qr codes',
       'real estate', 'real time', 'realtors', 'recreation', 'recruiting',
       'recycling', 'religion', 'renewable energies', 'renewable tech',
       'rental housing', 'reputation', 'resorts', 'restaurants', 'retail',
       'retail technology', 'reviews and recommendations', 'rfid',
       'ride sharing', 'risk management', 'robotics', 'saas',
       'sales and marketing', 'sales automation', 'search',
       'search marketing', 'security',
       'semiconductor manufacturing equipment', 'semiconductors',
       'senior citizens', 'senior health', 'sensors', 'seo',
       'service industries', 'service providers', 'services', 'sextech',
       'shared services', 'shipping', 'shoes', 'shopping', 'simulation',
       'skill assessment', 'small and medium businesses', 'smart grid',
       'sns', 'soccer', 'social + mobile + local', 'social bookmarking',
       'social business', 'social buying', 'social commerce',
       'social crm', 'social fundraising', 'social games', 'social media',
       'social media management', 'social media marketing',
       'social media platforms', 'social network media', 'social news',
       'social recruiting', 'social television', 'social travel',
       'software', 'solar', 'space travel', 'specialty chemicals',
       'specialty foods', 'speech recognition', 'sporting goods',
       'sports', 'staffing firms', 'startups', 'stock exchanges',
       'storage', 'subscription service', 'supply chain management',
       'surveys', 'synchronization', 'systems', 'task management',
       'taxis', 'tea', 'technology', 'telecommunications', 'television',
       'textiles', 'theatre', 'therapeutics', 'ticketing', 'tourism',
       'tracking', 'trading', 'training', 'translation', 'transportation',
       'travel', 'travel & tourism', 'universities',
       'university students', 'unmanned air systems', 'usability',
       'user experience design', 'user interface', 'utilities',
       'vending and concessions', 'venture capital', 'veterinary',
       'video', 'video conferencing', 'video games', 'video on demand',
       'video streaming', 'virtual workforces', 'voip',
       'waste management', 'watch', 'water', 'water purification',
       'wearables', 'web browsers', 'web design', 'web development',
       'web hosting', 'web tools', 'weddings', 'wholesale',
       'wine and spirits', 'wireless', 'women', 'young adults'],
      dtype=object)

In [43]:
# melt is used to reshape the mapping_df data frame values 
mapping_reshaped  = pd.melt(mapping_df, id_vars=["category_list"],var_name=["main_sector"])
mapping_reshaped

,category_list,main_sector,value
0,NaN,Automotive & Sports,0
1,3d,Automotive & Sports,0
2,3d printing,Automotive & Sports,0
3,3d technology,Automotive & Sports,0
4,accounting,Automotive & Sports,0
5,active lifestyle,Automotive & Sports,0
6,ad targeting,Automotive & Sports,0
7,advanced materials,Automotive & Sports,0
8,adventure travel,Automotive & Sports,1
9,advertising,Automotive & Sports,0
10,advertising exchanges,Automotive & Sports,0
11,advertising networks,Automotive & Sports,0
12,advertising platforms,Automotive & Sports,0
13,advice,Automotive & Sports,0
14,aerospace,Automotive & Sports,1
15,agriculture,Automotive & Sports,0
16,air pollution control,Automotive & Sports,0
17,algorithms,Automotive & Sports,0
18,all markets,Automotive & Sports,0
19,all students,Automotive & Sports,0
20,alternative medicine,Automotive & Sports,0
21,alumni,Automotive & Sports,0
22,analytics,Automotive & Sports,0
23,android,Automotive & Sports,0
24,angels,Automotive & Sports,0
25,animal feed,Automotive & Sports,0
26,anything capital intensive,Automotive & Sports,0
27,app discovery,Automotive & Sports,0
28,app marketing,Automotive & Sports,0
29,app stores,Automotive & Sports,0
...,...,...,...
6162,usability,"Social, Finance, Analytics, Advertising",0
6163,user experience design,"Social, Finance, Analytics, Advertising",0
6164,user interface,"Social, Finance, Analytics, Advertising",0
6165,utilities,"Social, Finance, Analytics, Advertising",0
6166,vending and concessions,"Social, Finance, Analytics, Advertising",0
6167,venture capital,"Social, Finance, Analytics, Advertising",1
6168,veterinary,"Social, Finance, Analytics, Advertising",0
6169,video,"Social, Finance, Analytics, Advertising",0
6170,video conferencing,"Social, Finance, Analytics, Advertising",0
6171,video games,"Social, Finance, Analytics, Advertising",0
6172,video on demand,"Social, Finance, Analytics, Advertising",0
6173,video streaming,"Social, Finance, Analytics, Advertising",0
6174,virtual workforces,"Social, Finance, Analytics, Advertising",0
6175,voip,"Social, Finance, Analytics, Advertising",0
6176,waste management,"Social, Finance, Analytics, Advertising",0
6177,watch,"Social, Finance, Analytics, Advertising",0
6178,water,"Social, Finance, Analytics, Advertising",0
6179,water purification,"Social, Finance, Analytics, Advertising",0
6180,wearables,"Social, Finance, Analytics, Advertising",0
6181,web browsers,"Social, Finance, Analytics, Advertising",0
6182,web design,"Social, Finance, Analytics, Advertising",0
6183,web development,"Social, Finance, Analytics, Advertising",0
6184,web hosting,"Social, Finance, Analytics, Advertising",0
6185,web tools,"Social, Finance, Analytics, Advertising",0
6186,weddings,"Social, Finance, Analytics, Advertising",0
6187,wholesale,"Social, Finance, Analytics, Advertising",0
6188,wine and spirits,"Social, Finance, Analytics, Advertising",0
6189,wireless,"Social, Finance, Analytics, Advertising",0
6190,women,"Social, Finance, Analytics, Advertising",0
6191,young adults,"Social, Finance, Analytics, Advertising",0

In [44]:
# drop the rows with value 0 
mapping_reshaped = mapping_reshaped[mapping_reshaped.value != 0]

mapping_reshaped

                 category_list                              main_sector  value
8             adventure travel                      Automotive & Sports      1
14                   aerospace                      Automotive & Sports      1
45                        auto                      Automotive & Sports      1
46             automated kiosk                      Automotive & Sports      1
47                  automotive                      Automotive & Sports      1
57                    bicycles                      Automotive & Sports      1
69            boating industry                      Automotive & Sports      1
87                         cad                      Automotive & Sports      1
93                        cars                      Automotive & Sports      1
188                     design                      Automotive & Sports      1
189                  designers                      Automotive & Sports      1
213                     drones                      Automotive & Sports      1
226          electric vehicles                      Automotive & Sports      1
292                      fuels                      Automotive & Sports      1
331             heavy industry                      Automotive & Sports      1
364      industrial automation                      Automotive & Sports      1
409                 limousines                      Automotive & Sports      1
602                     soccer                      Automotive & Sports      1
626             sporting goods                      Automotive & Sports      1
627                     sports                      Automotive & Sports      1
652             transportation                      Automotive & Sports      1
657       unmanned air systems                      Automotive & Sports      1
688                        NaN                                   Blanks      1
1392     air pollution control               Cleantech / Semiconductors      1
1409               aquaculture               Cleantech / Semiconductors      1
1437                 bio-pharm               Cleantech / Semiconductors      1
1438                  biofuels               Cleantech / Semiconductors      1
1439            bioinformatics               Cleantech / Semiconductors      1
1440  biomass power generation               Cleantech / Semiconductors      1
1441                biometrics               Cleantech / Semiconductors      1
...                        ...                                      ...    ...
6020          personal finance  Social, Finance, Analytics, Advertising      1
6037                  pre seed  Social, Finance, Analytics, Advertising      1
6038      predictive analytics  Social, Finance, Analytics, Advertising      1
6040          price comparison  Social, Finance, Analytics, Advertising      1
6053               promotional  Social, Finance, Analytics, Advertising      1
6054       property management  Social, Finance, Analytics, Advertising      1
6055          public relations  Social, Finance, Analytics, Advertising      1
6074                    retail  Social, Finance, Analytics, Advertising      1
6075         retail technology  Social, Finance, Analytics, Advertising      1
6079           risk management  Social, Finance, Analytics, Advertising      1
6082       sales and marketing  Social, Finance, Analytics, Advertising      1
6107   social + mobile + local  Social, Finance, Analytics, Advertising      1
6108        social bookmarking  Social, Finance, Analytics, Advertising      1
6109           social business  Social, Finance, Analytics, Advertising      1
6110             social buying  Social, Finance, Analytics, Advertising      1
6111           social commerce  Social, Finance, Analytics, Advertising      1
6112                social crm  Social, Finance, Analytics, Advertising      1
6113        social fundraising  Social, Finance, Analytics, Advertising      1
6114              social games  Social, Finance, Analytics, Advertising      1
6115              social media  Social, Finance, Analytics, Advertising      1
6116   social media management  Social, Finance, Analytics, Advertising      1
6117    social media marketing  Social, Finance, Analytics, Advertising      1
6118    social media platforms  Social, Finance, Analytics, Advertising      1
6119      social network media  Social, Finance, Analytics, Advertising      1
6120               social news  Social, Finance, Analytics, Advertising      1
6121         social recruiting  Social, Finance, Analytics, Advertising      1
6122         social television  Social, Finance, Analytics, Advertising      1
6123             social travel  Social, Finance, Analytics, Advertising      1
6134           stock exchanges  Social, Finance, Analytics, Advertising      1
6167           venture capital  Social, Finance, Analytics, Advertising      1

[688 rows x 3 columns]

In [45]:
# add mainsector to the master data frame 

master_frame['primary_sector'].unique()

array(['Media', 'Application Platforms', 'Apps', 'Curated Web',
       'Software', 'Games', 'Biotechnology', 'Analytics', 'Mobile',
       'E-Commerce', 'Entertainment', 'Networking', 'Health and Wellness',
       'Internet Marketing', 'Education', 'Search', 'Art', 'Beauty',
       'Local Businesses', 'Cosmetics', 'Hospitality', 'Health Care',
       'Advertising', 'Coffee', 'Enterprise Software', 'Batteries', 'iOS',
       'Fashion', 'EdTech', 'Social Travel', 'Sports', 'Real Estate',
       'Audio', 'Health Diagnostics', nan, 'Internet', 'Local Search',
       'Service Providers', 'Publishing', 'Consumer Goods',
       'Manufacturing', 'Augmented Reality', 'Finance', 'Design',
       'Public Transportation', 'Travel', 'Baby Accessories', 'Designers',
       'Cars', 'Clean Technology', 'Content', 'Chat', 'Cloud Computing',
       'Geospatial', 'Music Services', 'Doctors', 'Social Media',
       'Non Profit', 'Fitness', 'Landscaping', 'Financial Services',
       'Consumers', 'Digital Media', 'News', 'Technology', 'Delivery',
       'Big Data', 'Android', 'Blogging Platforms', 'Customer Service',
       'Hardware + Software', 'Computers', 'Artificial Intelligence',
       'Services', 'DIY', 'Presentations', 'Ad Targeting', 'Credit Cards',
       'Discounts', 'Internet of Things', 'Cloud Infrastructure', 'SaaS',
       'Messaging', 'Collaboration', 'Interior Design', 'Energy',
       'Transportation', 'FinTech', 'Information Technology',
       'Consumer Electronics', 'Communities', 'Data Centers',
       'Point of Sale', 'Enterprises', 'Bitcoin', 'Project Management',
       'Business Services', 'Babies', '3D', '3D Technology',
       'Photography', '3D Printing', 'Alumni', 'Drones', 'Automotive',
       'Printing', 'Creative', 'Automated Kiosk', 'Business Analytics',
       'Music', 'Semiconductors', 'Web Hosting', 'Cloud Data Services',
       'Consulting', 'Game', 'Developer APIs', 'App Marketing',
       'Physical Security', 'Coupons', 'Security', 'Databases',
       'Flash Storage', 'Animal Feed', 'Creative Industries',
       'Machine Learning', 'Crowdfunding', 'Commercial Real Estate',
       'Online Travel', 'Web Design', 'Anything Capital Intensive',
       'Human Resources', 'Office Space', 'Pets', 'Aerospace',
       'Online Shopping', 'Distribution', 'Carbon', 'Career Management',
       'Leisure', 'Consumer Internet', 'Video', 'Food Processing',
       'Healthcare Services', 'Startups', 'Sales and Marketing',
       'Accounting', 'Browser Extensions', 'Information Services',
       'Concentrated Solar Power', 'B2B', 'Nanotechnology',
       'Social Network Media', 'Development Platforms', 'Bicycles',
       'Content Creators', 'Broadcasting', 'Brand Marketing',
       'Finance Technology', 'Home Decor', 'Crowdsourcing',
       'Digital Entertainment', 'Exercise', 'Contact Centers',
       'E-Commerce Platforms', 'SEO', 'Chemicals',
       'Innovation Engineering', 'Travel & Tourism', 'Limousines',
       'Hardware', 'Charity', 'Online Rental', 'Telecommunications',
       'Health Care Information Technology', 'Health and Insurance',
       'Oil & Gas', 'Audiobooks', 'Communications Infrastructure',
       'Distributors', 'Medical', 'Employment', 'M2M', 'Local',
       'Home Automation', 'Contact Management', 'Information Security',
       'Electrical Distribution', 'Content Discovery', 'All Students',
       'Engineering Firms', 'Events', 'Diagnostics',
       'Government Innovation', 'Pharmaceuticals', 'Clean Energy',
       'Logistics', 'Domains', 'Payments', 'Nonprofits',
       'Homeland Security', 'Big Data Analytics', 'Credit', 'Colleges',
       'Medical Devices', 'Construction', 'Internet Radio Market',
       'Legal', 'Public Relations', 'Self Development',
       'Employer Benefits Programs', 'Internet Service Providers',
       'Agriculture', 'Advertising Platforms', 'CRM', 'Data Integration',
       'Politics', 'Collectibles', 'Application Performance Monitoring',
       'Facebook Applications', 'Email', 'Real Time',
       'Comparison Shopping', 'Electronics', 'Mobile Security',
       'Cloud Management', 'Intellectual Property',
       'Marketing Automation', 'Material Science', 'Bio-Pharm',
       'Business Intelligence', 'Assisitive Technology', 'Auctions',
       'Child Care', 'Enterprise Search', 'Classifieds',
       'Content Delivery', 'Business Development', 'DOD/Military',
       'Archiving', 'Advice', 'Digital Signage', 'Industrial',
       'Advertising Exchanges', 'Cause Marketing',
       'Performance Marketing', 'Governments', 'Advanced Materials',
       'Renewable Energies', 'Human Resource Automation',
       'Adventure Travel', 'Insurance', 'Law Enforcement',
       'Advertising Networks', 'Brokers',
       'Embedded Hardware and Software', 'Gps', 'Direct Sales',
       'Robotics', 'Corporate Training', 'Furniture', 'Consumer Lending',
       'Ediscovery', 'Bridging Online and Offline', 'Marketplaces',
       'Brewing', 'Commodities', 'Online Scheduling',
       'Reviews and Recommendations', 'Gift Card',
       'Industrial Automation', 'Lasers', 'Weddings', 'Farming',
       'Tracking', 'Lifestyle', 'Developer Tools', 'Hotels', 'Algorithms',
       'Biomass Power Generation', 'Content Syndication',
       'Location Based Services', 'Loyalty Programs',
       'Business Productivity', 'Personalization', 'Match-Making',
       'Interface Design', 'iPhone', 'Retail', 'Banking',
       'Innovation Management', 'Console Gaming', 'Mining Technologies',
       'Hospitals', 'Risk Management', 'Network Security', 'Data Mining',
       'Craft Beer', 'Cloud Security', 'Charter Schools', 'Architecture',
       'Document Management', 'Consumer Behavior', 'Defense', 'Maps',
       'Specialty Chemicals', 'iPad', 'Journalism',
       'Communications Hardware', 'Fantasy Sports', 'Social Commerce',
       'Investment Management', 'BPO Services', 'Language Learning',
       'Boating Industry', 'Gambling', 'Active Lifestyle', 'Watch',
       'Wine And Spirits', 'Cannabis', 'Dietary Supplements', 'Cooking',
       'Estimation and Quoting', 'Environmental Innovation', 'Graphics',
       'Small and Medium Businesses', 'Electric Vehicles',
       'Specialty Foods', 'Restaurants', 'Kids', 'Energy Management',
       'Waste Management', 'Sensors', 'Fleet Management',
       'Commercial Solar', 'Energy Efficiency', 'Biometrics',
       'Recruiting', 'Incubators', 'Corporate Wellness', 'Angels',
       'Bioinformatics', 'Online Dating', 'Identity',
       'Collaborative Consumption', 'Email Marketing', 'VoIP', 'Biofuels',
       'Gold', 'Reputation', 'Film Production', 'Property Management',
       'Ticketing', 'Wireless', 'Enterprise Security',
       'Alternative Medicine', 'Real Estate Investors',
       'Social Fundraising', 'App Discovery', 'Productivity Software',
       'App Stores', 'Meeting Software', 'Entrepreneur', 'Opinions',
       'Cyber Security', 'Social Television', 'All Markets',
       'Corporate IT', 'Dental', 'Enterprise Application', 'Aquaculture',
       'Water', 'Billing', 'Fraud Detection', 'Gamification', 'CAD',
       'Therapeutics', 'Photo Sharing', 'Data Security',
       'Local Based Services', 'Data Privacy', 'Social Business',
       'Artists Globally', 'Fuels', 'Diabetes', 'Oil and Gas',
       'Intelligent Systems', 'Logistics Company', 'English-Speaking',
       'College Campuses', 'Intellectual Asset Management', 'Simulation',
       'Casual Games', 'Event Management', 'Educational Games',
       'Sporting Goods', 'Guides', 'Licensing', 'Film', 'Charities',
       'Identity Management', 'Home & Garden', 'Lead Generation',
       'Lead Management', 'Auto', 'Sales Automation',
       'Certification Test', 'Heavy Industry', 'Private School',
       'Minerals', 'Infrastructure', 'Entertainment Industry',
       'Public Safety', 'Life Sciences', 'IT Management', 'Open Source',
       'Mobile Software Tools', 'File Sharing', 'Mobile Commerce',
       'Families', 'Social Media Platforms', 'Lifestyle Products', 'ICT',
       'Custom Retail', 'Venture Capital', 'Clinical Trials',
       'Musical Instruments', 'Market Research', 'Wholesale', 'SNS',
       'Navigation', 'Video Games', 'Freelancers',
       'Deep Information Technology', 'Private Social Networking',
       'Career Planning', 'Internet Infrastructure', 'Organic Food',
       'Low Bid Auctions', 'Coworking', 'E-Books', 'Mobile Games',
       'Celebrity', 'Local Advertising', 'Realtors', 'Mobility',
       'FreetoPlay Gaming', 'Building Products', 'Customer Support Tools',
       'Genetic Testing', 'College Recruiting', 'Cyber',
       'Emerging Markets', 'Toys', 'Outsourcing',
       'General Public Worldwide', 'Gadget', 'Professional Services',
       'Service Industries', 'Direct Marketing', 'Groceries',
       'IT and Cybersecurity', 'Generation Y-Z', 'Outdoors', 'Fruit',
       'New Technologies', 'Recreation', 'Mobile Social', 'Shopping',
       'Social Bookmarking', 'EBooks', 'Comics', 'Image Recognition',
       'Non-Tech', 'Product Development Services', 'K-12 Education',
       'Spas', 'Soccer', 'Lifestyle Businesses', 'Mass Customization',
       'Product Design', 'Assisted Living', 'Wearables', 'Social News',
       'Rental Housing', 'Flash Sales', 'Mobile Payments', 'Trading',
       'Digital Rights Management', 'Staffing Firms',
       'Optical Communications', 'EDA Tools', 'Parking', 'Linux',
       'Energy Storage', 'Data Visualization', 'Elder Care',
       'Electronic Health Records', 'Baby Boomers', 'Cable',
       'Enterprise Hardware', 'Social Media Advertising',
       'Personal Finance', 'Video Streaming', 'Darknet',
       'Online Identity', 'Knowledge Management',
       'Business Information Systems', 'New Product Development',
       'Computer Vision', 'Health Services Industry', 'Email Newsletters',
       'Utilities', 'China Internet', 'Medical Professionals', 'Shoes',
       'Jewelry', 'Tea', 'Systems', 'Religion',
       'Online Video Advertising', 'PaaS', 'Parenting', 'Forums',
       'Civil Engineers', 'Air Pollution Control', 'Natural Gas Uses',
       'Predictive Analytics', 'Natural Language Processing',
       'Cloud-Based Music', 'Internet Technology', 'IaaS',
       'University Students', 'Web Development', 'Optimization', 'Fmcg',
       'Online Gaming', 'Pervasive Computing', 'Storage', 'Nightlife',
       'Lighting', 'Incentives', 'Adaptive Equipment',
       'Postal and Courier Services', 'Fertility', 'Enterprise 2.0',
       'Multi-level Marketing', 'Concerts', 'Data Center Automation',
       'Call Center Automation', 'P2P Money Transfer', 'mHealth',
       'Tourism', 'SexTech', 'Contests', 'Financial Exchanges',
       'Natural Resources', 'Data Center Infrastructure', 'Recycling',
       'Retail Technology', 'Humanitarian', 'Online Education',
       'Governance', 'Funeral Industry', 'Gift Exchange', 'Social CRM',
       'Mobile Health', 'Online Reservations', 'Privacy',
       'Mobile Devices', 'Professional Networking', 'Game Mechanics',
       'Field Support Services', 'Home Owners', 'Social + Mobile + Local',
       'Freemium', 'Mechanical Solutions', 'Peer-to-Peer',
       'Personal Branding', 'Mobile Video', 'Group SMS', 'Textiles',
       'Tutoring', 'Plumbers', 'Shipping', 'Supply Chain Management',
       'Photo Editing', 'Solar', 'B2B Express Delivery', 'Translation',
       'In-Flight Entertainment', 'Displays', 'Internet TV',
       'Skill Assessment', 'Gas', 'Semiconductor Manufacturing Equipment',
       'Clean Technology IT', 'Synchronization', 'Farmers Market',
       'Senior Citizens', 'Skill Gaming', 'Neuroscience',
       'Unmanned Air Systems', 'Green', 'Building Owners', 'Eyewear',
       'Human Computer Interaction', 'Fuel Cells', 'Demographies',
       'Social Media Marketing', 'Monetization', 'Racing',
       'Mobile Shopping', 'High Schools', 'Specialty Retail',
       'Home Renovation', 'Business Travelers', 'Mobile Analytics',
       'Speech Recognition', 'Training', 'Swimming', 'Hedge Funds',
       'Interest Graph', 'Social Games', 'Stock Exchanges', 'Oil',
       'Television', 'Registrars', 'Polling', 'Flowers',
       'Vending and Concessions', 'RFID', 'Personal Health',
       'Golf Equipment', 'Mobile Advertising', 'Handmade', 'Smart Grid',
       'Price Comparison', 'Biotechnology and Semiconductor',
       'Mobile Enterprise', 'Disruptive Models', 'Resorts',
       'Vacation Rentals', 'Portals', 'Search Marketing', 'Google Glass',
       'Group Buying', 'Web Browsers', 'High School Students',
       'Shared Services', 'Debt Collecting', 'Indoor Positioning',
       'Local Commerce', 'Video on Demand', 'Video Conferencing',
       'Early-Stage Technology', 'Organic', 'Nutrition',
       'Rapidly Expanding', 'High Tech', 'Theatre', 'Social Recruiting',
       'Web Tools', 'Infrastructure Builders',
       'Enterprise Resource Planning', 'Group Email', 'Edutainment',
       'Music Education', 'Mens Specific', 'Gift Registries',
       'Baby Safety', 'Renewable Tech', 'Social Media Management',
       'Lotteries', 'Green Consumer Goods', 'Cosmetic Surgery',
       'Face Recognition', 'Energy IT', 'Kinect', 'Homeless Shelter',
       'Space Travel', 'Moneymaking', 'Product Search', 'Universities',
       'Pre Seed', 'MicroBlogging', 'Physicians', 'Direct Advertising',
       'Senior Health', 'Procurement', 'QR Codes', 'Subscription Service',
       'Independent Pharmacies', 'Impact Investing', 'Sex Industry',
       'Psychology', 'Music Venues', 'Promotional',
       'Independent Music Labels', 'Women', 'Testing', 'GreenTech',
       'Mobile Infrastructure', 'Retirement', 'Enterprise Purchasing',
       'Subscription Businesses', 'Virtual Workforces', 'Personal Data',
       'Young Adults', 'Lingerie', 'Film Distribution', 'Surveys',
       'Water Purification', 'User Experience Design', 'Taxis', 'Indians',
       'Veterinary', 'Social Buying', 'Ride Sharing', 'Experience Design',
       'Musicians', 'Mobile Emergency&Health', 'Usability',
       'User Interface', 'Sponsorship', 'Productivity', 'Gay & Lesbian',
       'Q&A', 'Micro-Enterprises', 'Task Management'], dtype=object)

In [46]:
# update master_frame primary_sector to lowercase so it can be compared against category_list from mapping sheet

master_frame['primary_sector'] =master_frame['primary_sector'].str.lower()

# add column main_sector into master_frame and populate the value from mapping_reshaped data frame 

master_frame['main_sector'] = master_frame['primary_sector'].map(mapping_reshaped.set_index('category_list')['main_sector'])

master_frame.head(10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00000,media,Entertainment
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,0.00000,application platforms,"News, Search and Messaging"
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.00000,application platforms,"News, Search and Messaging"
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,MISSING,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.00000,apps,"News, Search and Messaging"
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.00000,curated web,"News, Search and Messaging"
5,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,0.00000,software,Others
6,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.00000,games,Entertainment
7,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.00000,biotechnology,Cleantech / Semiconductors
8,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.00000,biotechnology,Cleantech / Semiconductors
9,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.00000,analytics,"Social, Finance, Analytics, Advertising"

# Checkpoint 5: Sector Analysis 2

Based on initial analysis the Top 3 English speaking countries wiht high investments are 

1. USA 
2. GBR
3. IND

Create three separate data frames __D1, D2 and D3 for each of the three countries__ containing the observations of funding type FT falling within the __5-15 million USD__ range. The three data frames should contain:

- All the columns of the master_frame along with the primary sector and the main sector

- The total number (or count) of investments for each main sector in a separate column

- The total amount invested in each main sector in a separate column

Using the three data frames, you can calculate the total number and amount of investments in each main sector.

In [47]:
# data frame D1 for country_code 'USA'

D1 = master_frame.loc[(master_frame['country_code']=='USA') & (master_frame['funding_round_type']=='venture')]

# Filter 5-15 million USD range

D1 = D1.loc[(D1['raised_amount_usd']/1000000>=5) & (D1['raised_amount_usd']/1000000<=15)]

# add separate columns to store the count and sum across main_sector

D1['total_investment_count'] = D1.main_sector.map(D1.groupby('main_sector')['raised_amount_usd'].count())

D1['total_investment_Amt'] = D1.main_sector.map(D1.groupby('main_sector')['raised_amount_usd'].sum())

D1.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector,total_investment_count,total_investment_Amt
12,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.00000,analytics,"Social, Finance, Analytics, Advertising",2714.00000,23807376964.00000
22,/organization/1-mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.00000,apps,"News, Search and Messaging",1583.00000,13971567428.00000
103,/organization/128-technology,128 Technology,http://www.128technology.com/,Service Providers|Technology,operating,USA,MA,Boston,Burlington,07-07-2014,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,NaN,16-12-2014,11999347.00000,service providers,Others,2950.00000,26321007002.00000
110,/organization/1366-technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,C,15-10-2013,15000000.00000,manufacturing,Manufacturing,799.00000,7258553378.00000
111,/organization/1366-technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,/funding-round/6d3f3797371956ece035b8478c1441b2,venture,C,09-04-2015,5000000.00000,manufacturing,Manufacturing,799.00000,7258553378.00000

In [48]:
# check the values in D1 for sum
D1.groupby(['main_sector'])['raised_amount_usd'].sum().sort_values(ascending=False)

main_sector
Others                                    26321007002.00000
Social, Finance, Analytics, Advertising   23807376964.00000
Cleantech / Semiconductors                21633430822.00000
News, Search and Messaging                13971567428.00000
Health                                     8211859357.00000
Manufacturing                              7258553378.00000
Entertainment                              5099197982.00000
Automotive & Sports                        1454104361.00000
Blanks                                      764763292.00000
Name: raised_amount_usd, dtype: float64

In [49]:
# check the values in D1 for count
D1.groupby(['main_sector'])['raised_amount_usd'].count().sort_values(ascending=False)

main_sector
Others                                     2950
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2350
News, Search and Messaging                 1583
Health                                      909
Manufacturing                               799
Entertainment                               591
Automotive & Sports                         167
Blanks                                       86
Name: raised_amount_usd, dtype: int64

In [50]:
# data frame D2 for country_code 'GBR'

D2 = master_frame.loc[(master_frame['country_code']=='GBR') & (master_frame['funding_round_type']=='venture')]

# Filter 5-15 million USD range

D2 = D2.loc[(D2['raised_amount_usd']/1000000>=5) & (D2['raised_amount_usd']/1000000<=15)]

# add separate columns to store the count and sum across main_sector

D2['total_investment_count'] = D2.main_sector.map(D2.groupby('main_sector')['raised_amount_usd'].count())

D2['total_investment_Amt'] = D2.main_sector.map(D2.groupby('main_sector')['raised_amount_usd'].sum())

D2.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector,total_investment_count,total_investment_Amt
401,/organization/365scores,365Scores,http://biz.365scores.com,Android|Apps|iPhone|Mobile|Sports,operating,GBR,H9,London,London,01-01-2008,/funding-round/48212f931f542fdef78810bc87aef086,venture,B,29-09-2014,5500000.00000,android,"Social, Finance, Analytics, Advertising",133,1089404014.00000
864,/organization/7digital,7digital,http://about.7digital.com,Content Creators|Content Delivery|Licensing|Mu...,acquired,GBR,H9,London,London,01-01-2004,/funding-round/b5ad7ed7baddd3974bd51403f17dd88f,venture,A,01-01-2008,8468328.00000,content creators,Entertainment,56,482784687.00000
865,/organization/7digital,7digital,http://about.7digital.com,Content Creators|Content Delivery|Licensing|Mu...,acquired,GBR,H9,London,London,01-01-2004,/funding-round/eafacfcceb1fbc4fd605f641b603313e,venture,NaN,19-10-2012,10000000.00000,content creators,Entertainment,56,482784687.00000
942,/organization/90min,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,NaN,06-10-2015,15000000.00000,media,Entertainment,56,482784687.00000
943,/organization/90min,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,NaN,07-05-2013,5800000.00000,media,Entertainment,56,482784687.00000

In [51]:
# data frame D3 for country_code 'IND'

D3 = master_frame.loc[(master_frame['country_code']=='IND') & (master_frame['funding_round_type']=='venture')]

# Filter 5-15 million USD range

D3 = D3.loc[(D3['raised_amount_usd']/1000000>=5) & (D3['raised_amount_usd']/1000000<=15)]

# add separate columns to store the count and sum across main_sector

D3['total_investment_count'] = D3.main_sector.map(D3.groupby('main_sector')['raised_amount_usd'].count())

D3['total_investment_Amt'] = D3.main_sector.map(D3.groupby('main_sector')['raised_amount_usd'].sum())

D3.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector,main_sector,total_investment_count,total_investment_Amt
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.00000,media,Entertainment,33,280830000.00000
227,/organization/21diamonds-india,21Diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,C,15-11-2012,6369507.00000,e-commerce,Others,110,1013409507.00000
1049,/organization/a-little-world,A LITTLE WORLD,http://alittleworld.com,Finance,operating,IND,16,Mumbai,Mumbai,02-03-2000,/funding-round/18d98f82ed392b1609975b81f3e8b3fb,venture,B,09-09-2008,6410000.00000,finance,"Social, Finance, Analytics, Advertising",60,550549550.00000
2507,/organization/adlabs-imagica,Adlabs Imagica,http://www.adlabsimagica.com,Entertainment|Tourism,operating,IND,16,IND - Other,Khopoli,NaN,/funding-round/508d3c83daaae9fda3ba6f9682c78f6c,venture,NaN,28-10-2014,8180000.00000,entertainment,Entertainment,33,280830000.00000
3457,/organization/agile,Agile,http://www.agile-ft.com,Finance|Finance Technology|FinTech|Insurance,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/cd3dd1c98ce9d0f632d8752163941674,venture,A,01-05-2011,5740000.00000,finance,"Social, Finance, Analytics, Advertising",60,550549550.00000

In [52]:
# concat the three data frames D1, D2 and D3 into 1 dataframe so it will be easy for the analysis 
top3_country_df = pd.concat([D1,D2,D3], ignore_index=True)

In [53]:
# Total number of investment count for countries USA, GBR and IND
# if there is 0 inverstment remove it from count

top3_country_df.loc[top3_country_df['raised_amount_usd'] !=0].groupby('country_code')['raised_amount_usd'].count().sort_values(ascending=False)

country_code
USA    12150
GBR      628
IND      330
Name: raised_amount_usd, dtype: int64

In [54]:
# Total sum of investment by countries USA, GBR and IND

top3_country_df.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False)

country_code
USA   108531347515.00000
GBR     5436843539.00000
IND     2976543602.00000
Name: raised_amount_usd, dtype: float64

In [55]:
#top3_country_df.groupby(['country_code','main_sector'])['raised_amount_usd'].sum().sort_values(ascending=False)

In [56]:
# Top 3 sector country 1 'USA' by number of investment count exlcuding 'Others'
top3_sector_USA = D1.loc[D1['main_sector']!='Others'].groupby(['country_code','main_sector'])['raised_amount_usd'].count().sort_values(ascending=False)
top3_sector_USA = top3_sector_USA.head(3)
top3_sector_USA

country_code  main_sector
USA           Social, Finance, Analytics, Advertising    2714
              Cleantech / Semiconductors                 2350
              News, Search and Messaging                 1583
Name: raised_amount_usd, dtype: int64

In [57]:
# Top 3 sector country 2 'GBR' by number of investment count exlcuding 'Others'
top3_sector_GBR = D2.loc[D2['main_sector']!='Others'].groupby(['country_code','main_sector'])['raised_amount_usd'].count().sort_values(ascending=False)
top3_sector_GBR = top3_sector_GBR.head(3)
top3_sector_GBR

country_code  main_sector
GBR           Social, Finance, Analytics, Advertising    133
              Cleantech / Semiconductors                 130
              News, Search and Messaging                  73
Name: raised_amount_usd, dtype: int64

In [58]:
# Top 3 sector country 3 'IND' by number of investment count exlcuding 'Others'
top3_sector_IND = D3.loc[D3['main_sector']!='Others'].groupby(['country_code','main_sector'])['raised_amount_usd'].count().sort_values(ascending=False)
top3_sector_IND = top3_sector_IND.head(3)
top3_sector_IND

country_code  main_sector
IND           Social, Finance, Analytics, Advertising    60
              News, Search and Messaging                 52
              Entertainment                              33
Name: raised_amount_usd, dtype: int64

In [59]:
# company with maximum investment from Top sector captured above 'Social, Finance, Analytics, Advertising' for USA

Sector_Top_Company_USA = D1.loc[D1['main_sector']=='Social, Finance, Analytics, Advertising'].groupby(['country_code','name'])['raised_amount_usd'].sum().sort_values(ascending=False)

print('Top Company in Top sector for USA \n\n',Sector_Top_Company_USA.head(1))

Top Company in Top sector for USA

 country_code  name
USA           SST Inc. (Formerly ShotSpotter)   67933006.00000
Name: raised_amount_usd, dtype: float64

In [60]:
# company with maximum investment from Top sector captured above 'Social, Finance, Analytics, Advertising' for GBR

Sector_Top_Company_GBR = D2.loc[D2['main_sector']=='Social, Finance, Analytics, Advertising'].groupby(['country_code','name'])['raised_amount_usd'].sum().sort_values(ascending=False)

print('Top Company in Top sector for GBR \n\n',Sector_Top_Company_GBR.head(1))

Top Company in Top sector for GBR

 country_code  name
GBR           Celltick Technologies   37500000.00000
Name: raised_amount_usd, dtype: float64

In [61]:
# company with maximum investment from Top sector captured above 'Social, Finance, Analytics, Advertising' for IND

Sector_Top_Company_IND = D3.loc[D3['main_sector']=='Social, Finance, Analytics, Advertising'].groupby(['country_code','name'])['raised_amount_usd'].sum().sort_values(ascending=False)

print('Top Company in Top sector for IND\n\n',Sector_Top_Company_IND.head(1))

Top Company in Top sector for IND

 country_code  name
IND           Manthan Systems   50700000.00000
Name: raised_amount_usd, dtype: float64

In [62]:
# company with maximum investmet for second best sector for USA which is 'Cleantech / Semiconductors'

Sector_Sec_Top_Company_USA = D1.loc[D1['main_sector']=='Cleantech / Semiconductors'].groupby(['country_code','name'])['raised_amount_usd'].sum().sort_values(ascending=False)

print('Top Company in Second Top sector for USA \n\n',Sector_Sec_Top_Company_USA.head(1))

Top Company in Second Top sector for USA

 country_code  name
USA           Biodesix   75300000.00000
Name: raised_amount_usd, dtype: float64

In [63]:
# company with maximum investmet for second best sector for GBR which is 'Cleantech / Semiconductors'

Sector_Sec_Top_Company_GBR = D2.loc[D2['main_sector']=='Cleantech / Semiconductors'].groupby(['country_code','name'])['raised_amount_usd'].sum().sort_values(ascending=False)

print('Top Company in Second Top sector for GBR \n\n',Sector_Sec_Top_Company_GBR.head(1))

Top Company in Second Top sector for GBR

 country_code  name
GBR           EUSA Pharma   35600000.00000
Name: raised_amount_usd, dtype: float64

In [64]:
# company with maximum investmet for second best sector for IND which is 'News, Search and Messaging'

Sector_Sec_Top_Company_IND = D3.loc[D3['main_sector']=='News, Search and Messaging'].groupby(['country_code','name'])['raised_amount_usd'].sum().sort_values(ascending=False)

print('Top Company in Second Top sector for IND \n\n',Sector_Sec_Top_Company_IND.head(1))

Top Company in Second Top sector for IND

 country_code  name
IND           GupShup   33000000.00000
Name: raised_amount_usd, dtype: float64

# Checkpoint 6: Plots

In [65]:
# total investments globally for venture, angel, seed and private_equity

tot_df1 = master_frame.loc[master_frame['funding_round_type'].isin(['venture','angel','seed','private_equity'])].groupby(['funding_round_type']).sum()
mean_df2 = master_frame.loc[master_frame['funding_round_type'].isin(['venture','angel','seed','private_equity'])].groupby(['funding_round_type']).mean()

tot_df1['avg_raised_amt_usd'] = mean_df2['raised_amount_usd']

plot1 = tot_df1

# write output to csv for building charts

plot1.to_csv('./plot1.csv')

In [66]:
# check if the above csv is generated and able to read 

test_plot1 = pd.read_csv('./plot1.csv')
test_plot1

  funding_round_type  raised_amount_usd  avg_raised_amt_usd
0              angel   4659255123.00000        764564.34575
1     private_equity 141925436105.00000      62111788.22976
2               seed  16989864181.00000        556606.74161
3            venture 590126216876.00000      10634054.43608

In [67]:
# the top9 data frame is already filtered by the prefered funding Type "venture"

top9.to_csv("./plot2.csv")

In [68]:
# check the plot2.csv have the top9 countries and raised amount values 
test_plot2 = pd.read_csv("./plot2.csv")

test_plot2

  country_code  raised_amount_usd
0          USA 422510842796.00000
1          CHN  39835418773.00000
2          GBR  20245627416.00000
3          IND  14391858718.00000
4          CAN   9583332317.00000
5          FRA   7259536732.00000
6          ISR   6907514579.00000
7          DEU   6346959822.00000
8          JPN   3363676611.00000

In [69]:
# we have top3 sectors for the top3 countries in the above dataframe
# top3_sector_USA,top3_sector_GBR, top3_sector_IND

# concat the above 3 dataframe into 1 data frame and write the output into CSV for plot3
top3_country_sector_df = pd.concat([top3_sector_USA,top3_sector_GBR,top3_sector_IND], ignore_index=False)
top3_country_secotr_df = pd.DataFrame(top3_country_sector_df)

#top3_country_secotr_df.reset_index(inplace=True)
top3_country_secotr_df.rename(columns={'raised_amount_usd':'investment_count'}, inplace=True)
top3_country_secotr_df = top3_country_secotr_df

#top3_country_secotr_df.to_csv("./plot3.csv", cols = ["Country Code","Main Sector","Raised Amount USD"])

#write the output into plot3.csv
top3_country_secotr_df.to_csv("./plot3.csv", header=True)

In [70]:
# check plot3.csv values 

test_plot3 = pd.read_csv("./plot3.csv")
test_plot3

  country_code                              main_sector  investment_count
0          USA  Social, Finance, Analytics, Advertising              2714
1          USA               Cleantech / Semiconductors              2350
2          USA               News, Search and Messaging              1583
3          GBR  Social, Finance, Analytics, Advertising               133
4          GBR               Cleantech / Semiconductors               130
5          GBR               News, Search and Messaging                73
6          IND  Social, Finance, Analytics, Advertising                60
7          IND               News, Search and Messaging                52
8          IND                            Entertainment                33